.footer {
    background: #291914;
    color: var(--cream);
    padding: 65px 7% 0;
}

.footer-content {
    max-width: 1250px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1.3fr;
    gap: 55px;
    padding-bottom: 45px;
}

.footer-brand h2 {
    color: var(--gold);
    font-family: 'Cinzel', serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-brand p,
.footer-note p {
    color: #D8C6B4;
    font-size: 13px;
    line-height: 2;
    max-width: 400px;
}

.footer-links h3,
.footer-note h3 {
    font-family: 'Cinzel', serif;
    color: var(--gold);
    font-size: 17px;
    margin-bottom: 18px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footer-links a {
    color: #D8C6B4;
    font-size: 12px;
    transition: 0.3s ease;
}

.footer-links a:hover {
    color: var(--saffron);
    padding-left: 5px;
}

.footer-bottom {
    border-top: 1px solid rgba(212, 175, 55, 0.3);
    max-width: 1250px;
    margin: auto;
    padding: 22px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.footer-bottom p {
    color: #B9A797;
    font-size: 11px;
}
.footer-heading-color{
color:#D4AF37;
}